<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">
	<display-name>NetDimensions Talent Suite API Client Library for Java -
		Sample Webapp</display-name>
	<filter>
		<filter-name>AuthorizationFilter</filter-name>
		<filter-class>com.netdimensions.client.servlet.AuthorizationFilter</filter-class>
	</filter>
	<!-- Map AuthorizationFilter to all resources that require API access. Must 
		also be mapped for the path /cb as this is used to handle authorization callbacks. -->
	<filter-mapping>
		<filter-name>AuthorizationFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>com.netdimensions.client.servlet.CsrfTokenSessionListener</listener-class>
	</listener>
</web-app>
